canvas 
{
    position: absolute;  
    margin: 0 auto;     
    border: 5px solid black;
    background-color: white;
    display: block;
    width: 700px;      
    height: 700px;
    image-rendering: pixelated;
    cursor: crosshair;
    top: 50px;
    right: 50px;
}
.hidden 
{
    position: absolute;
    display: none;
}
body 
{
    background-color: rgb(254, 254, 244);
}
h1
{
    color:black;
    font-size: 30px;
    position: relative;
    left: 210px;
}
h2
{
    font-size: 30px;
    position: relative;
    left: 340px;
    top: 70px;
}
ul
{
    font-size: 20px;
    position: relative;
    left: 265px;
    top: 100px;
}
button
{
   background-color: rgb(246, 232, 221);
   font-size: 16px;
   padding: 15px 32px;
   border: 2px solid black;
   color: black;
   cursor: pointer;
   text-align: center;
   display: inline-block;
   transform: translateY(4px);
}
button:hover
{
    background-color:rgb(236, 202, 174);
}
.button1
{
    position: relative;
    left: 10px;
    top: 300px;
}
.button2
{
    position: relative;
    left: 250px;
    top: 249px;
} 

