canvas 
{   
    width: 700px;
    height: 700px;
    cursor: crosshair;   
    background-color:rgb(254, 254, 244);
    
    position: absolute;
    top:50px;
    right:50px;
}
body
{ 
    background-color: rgb(254, 254, 244);
}
h1
{
    color:black;
    font-size: 60px;
    position: relative;
    left:200px;
}
h2
{
    font-size: 30px;
    position: relative;
    left:200px;
    top: 20px;
}
ul
{
    font-size: 20px;
    position: relative;
    left:200px;
    top: 20px;
}
button
{
   background-color: rgb(246, 232, 221);
   font-size: 16px;
   padding: 10px 27px;
   border:2px solid black;
   color: black;
   cursor: pointer;
   text-align: center;
   display: inline-block;
   transform: translateY(4px);
}
input
{
    text-align: center;
    font-size: 16px;
    padding: 20px 34px;
    border:2px solid black;
    position: relative;
    top:35px;
}
.button1
{
    position: relative;
    top:30px;
}
.button2
{
    position: relative;
    top:30px;
}
.button3
{
    position: relative;
    top:30px;
}
.button4
{
    position: relative;
    top:30px;
}
.button5
{
    position: relative;
    top:30px;
}
.button6
{
    position: relative;
    left:10px;
    top: 80px;
}
.button7
{
    position: relative;
    left:250px;
    top: 39px;
}


