body{
    background-color:cornsilk;
}
h1
{
    color:black;
    text-align: center;
}

.start
{
    background-color:green;
}
.end
{
    background-color: red;
}
.blocked
{
    background-color: black;
}
.path
{
    background-color: blue;
}
