canvas {   
    width: 500px;
    height: 500px;
    border: 5px solid black;
    cursor: crosshair;   
    
}
body{
    background-color:antiquewhite;
}
h1
{
    color:black;
    text-align: left;
    font-size: 50px;
}
input
{
    text-align: center;
}
.er
{
    text-indent: 30px;
}
.et
{
    text-indent: 30px;
}
.start
{
    background-color:green;
}
.end
{
    background-color: red;
}
.blocked
{
    background-color: black;
}

