canvas 
{   
    position: absolute;
    cursor: crosshair; 
    background-color: white;  
    border: 5px solid black;
    top: 50px;
    right: 50px;
}
.hidden
{
    position: absolute;
    display: none;
}
body
{
    background-color: rgb(254, 254, 244);
}
h1
{
    color: black;
    font-size: 40px;
    position: relative;
    left: 230px;
}
h2
{
    font-size: 30px;
    position: relative;
    left: 340px;
    top: 90px;
}
ul
{
    font-size: 20px;
    position: relative;
    left: 265px;
    top: 100px;
}
button
{
    background-color:rgb(246, 232, 221);
    font-size: 16px;
    padding: 15px 32px;
    border: 2px solid black;
    color: black;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    transform: translateY(4px);
}
input
{
    text-align: center;
    font-size: 16px;
    padding: 15px 32px;
    border: 2px solid black;
    position: relative;
    top: 35px;
}
.button1
{
    position: relative;
    top: 30px;
    left: 55px;
}
.button2
{
    position: relative;
    left: 10px;
    top: 414px;
}
.button3
{
    position: relative;
    left: 250px;
    top: 363px;
}