canvas {   
    position: absolute;
    cursor: crosshair; 
    background-color: white;  
    border: 5px solid black;
    top:50px;
    right:50px;
}
.canvas {
    position: relative;
    border: 1px solid black;
}
body{
    font-size: 20px;
    background-color: rgb(254, 254, 244);
}
h1
{
    color:black;
    text-align: left;
    font-size: 50px;
}

input
{
    text-align: center;
}
.er
{
    text-indent: 30px;
}
.et
{
    text-indent: 30px;
}
.start
{
    background-color:green;
}
.end
{
    background-color: red;
}
.blocked
{
    background-color: black;
}

